$global-padding: 1rem;
$global-margin: 1rem;
$global-color-primary: #a6e2ff;
$global-color-white: #fff;
$global-base-font: 'Karla', sans-serif;
$globa-base-font-size: 16px;

$white: #fff;
$black: #000;
$light-gray: #e6e6e6;
$light-gray2: #f7f7f7;

$fs-1: 1.7rem;
$fs-2: 1.5rem;
$fs-3: 1rem;
$fs-4: 0.8rem;
