.m_navigation {
  @include clearfix();
  padding: $global-padding;
  z-index: 1;
  margin-bottom: $global-padding;
  border-bottom: 1px solid #e5e6e7;
   a {
    margin-right: $global-padding;
    float: left;
    background: #ffffff;
    padding: 5px $global-padding;
    border: 1px solid #e6e6e6;
    font-size: 0.8rem;
    &:hover {
      background: #f7f7f7;
    }
    &:active {
      background: #fff;
    }
  }
}
.m_build-info {
  margin-top: $global-padding;
}
.m_grid-item {
  background: $global-color-primary;
  border: 1px solid #fff;
  padding: $global-padding;
  color: $global-color-white;
}
.m_doc-item {
  margin-bottom: $global-margin;
}
