button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
  }
  &:focus, &:hover {
    text-decoration: none;
  }
  &:focus, &.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
    box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25);
  }
  &.disabled, &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
  }
  &:active, &.active {
    background-image: none;
  }
}
